.footer {
    margin-top: rem(120px);
    border-top: 2px solid #C0C0C0;
  }
  
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--mantine-spacing-xl);
    padding-bottom: var(--mantine-spacing-xl);
  
    @media (max-width: '650px') {
      flex-direction: column;
    }
  }
  
  .links {
    @media (max-width: '650px') {
      margin-top: var(--mantine-spacing-md);
    }
  }