@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

body {
  overflow-x: hidden; /* Disable horizontal scrolling */
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

.mainContainer {
  margin: 10px;
}

.mainContainer .container {
  background-color: transparent;
  padding: 1rem 0;
}
.mainContainer .container img{
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}